@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
}
body
{
    overflow: hidden;
}
