@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Satisfy', cursive;
}
body
{
    overflow: hidden;
}
section 
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f1f1f1;
}
section .box
{
    position: absolute;
    width: 450px;
    height: 450px;
}
section .box .circle
{
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(135deg,#fff,#e4e3e8);
    justify-content: center;
    align-items: center;
}