body {
    margin: 0;
    padding: 0;
    font-family: verdana;
    background: #34495e;
}
.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ring {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    box-shadow: 0 4px 0 #07057e;
    background:transparent;
    animation: animate 4s linear infinite;
}

@keyframes animate 
{
    0% 
    { 
        transform: rotate(0deg)
    }
    100% 
    { 
        transform: rotate(360deg)
    }
}

.text {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    line-height: 300px;
    color: #ffffff;
    font-size: 1.5em;
    background: transparent;
    box-shadow: 0 0 5px #6db3f5;
    border-radius: 50%;
}