*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    background-color: rgb(156, 252, 252);
}
.memory-game{
    height: 640px;
    width: 640px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    perspective: 1000px;
}
.card{
    height: calc(33.333% - 10px);
    width: calc(25% -10px);
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 1px rgba(1, 1, 1, .3);
    cursor: pointer;
    transform: scale(1s);
    transform-style: preserve-3d;
    transition: transform .9s;
}
.card:active{
    transform: scale(0.94);
    transition: .3s;
}
.card-front, .card-back{
    width: 100%;
    height: 100%;
    padding: 20px;
    position: absolute;
    border-radius: 5px;
    background-color: #FFF;
    backface-visibility: hidden;
}
.card-front{
    transform: rotateY(180deg);
}
.card-flip{
    transform: rotateY(180deg);
}
