// All scss component include here
@import "components/categories.scss";
@import "components/slider.scss";
@import "components/service-features.scss";
@import "components/section-title.scss";
@import "components/buttons.scss";
@import "components/product-items.scss";
@import "components/deals.scss";
@import "components/banner.scss";
@import "components/feature.scss";
@import "components/group-product.scss";
@import "components/brand.scss";
@import "components/newsletter.scss";
@import "components/breadcrumb.scss";
@import "components/sidebar.scss";
@import "components/pagination.scss";