// All pages scss file include here
@import "pages/shop.scss";
@import "pages/product-details.scss";
@import "pages/checkout.scss";
@import "pages/cart.scss";
@import "pages/compare.scss";
@import "pages/about.scss";
@import "pages/contact.scss";
@import "pages/my-account.scss";
@import "pages/login-register.scss";
@import "pages/blog-sidebar.scss";
@import "pages/blog.scss";
@import "pages/blog-details.scss";