/*----- breadcrumb style css start -----*/
.breadcrumb-area {
    padding-top: 50px;
    &-style_2 {
        background-color: #f2f2f2;
        padding: 67px 0;
        // responsive
        @media #{$sm-device} {
            padding: 35px 0 30px;
        }
        .breadcrumb-wrap {
            padding: 0;
            background-color: transparent;
            text-align: center;
        }
    }
}

.breadcrumb-wrap {
    padding: 67px 0;
    text-align: center;
    background-color: $white;
    // responsive
    @media #{$sm-device} {
        padding: 30px 0;
    }
    h1 {
        font-size: 24px;
        font-weight: 500;
        line-height: 1;
        color: $black-soft;
        display: block;
        padding-bottom: 10px;
        text-transform: uppercase;
        // responsive
        @media #{$sm-device} {
            font-size: 16px;
        }
    }
    nav {
        .breadcrumb {
            background: transparent;
            margin-bottom: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .breadcrumb-item {
                a {
                    color: #333333;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 1;
                    text-transform: capitalize;
                    &:hover {
                        text-decoration: underline;
                    }
                }
                &:before {
                    color: #7e7e7e;
                    content: "\f3d3";
                    font-size: 12px;
                    margin: 0 8px;
                    font-family: "Ionicons";
                    // responsive
                    @media #{$xxs-device} {
                        margin: 0 5px;
                    }
                }
                &:first-child {
                    &::before {
                        display: none;
                    }
                }
                &.active {
                    color: $theme-color;
                    font-size: 16px;
                    font-weight: 400;
                    text-transform: capitalize;
                }
            }
        }
    }
}
/*----- breadcrumb style css end -----*/