.category-dropdown-wrapper {
    height: 100%;
    box-shadow: -1px 0px 3px 0px #cccccc;
    // responsive
    @media #{$sm-device} {
        display: none;
    }
}
.category-toggle-wrap {
    position: relative;
    .category-toggle{
        width: 100%;
        border: none;
        cursor: pointer;
        color: $black-soft;
        font-size: 14px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        padding: 18px 0;
        // responsive
        @media #{$md-device, $sm-device} {
            padding: 10px 0;
        }
        i {
            font-size: 22px;
            line-height: 1;
            padding-right: 15px;
        }
        span {
            line-height: 1;
            margin-left: auto;
            i {
                font-size: 14px;
                padding-right: 0;
            }
        }
        &:hover {
            color: $theme-color;
        }
        &-style_3 {
            background: $white;
            padding: 18px 20px;
            border-bottom: 1px solid $bdr-color;
            // responsive
            @media #{$md-device, $sm-device} {
                padding: 10px 20px;
            }
        }
    }
    nav {
        &.category-menu {
            border-top: none;
            top: 100%;
            left: 0;
            width: 100%;
            max-width: 269px;
            position: absolute;
            z-index: 11;
            display: none;
            background-color: $white;
            &-style_2 {
                display: block;
                // responsive
                @media #{$lg-device} {
                    display: none;
                }
            }
            &-style_3 {
                display: block;
                // responsive
                @media #{$md-device} {
                    display: none;
                }
            }
            // Responsive
            @media #{$md-device, $sm-device}{
                max-width: 100%;
                box-shadow: 0 2px 5px 0.35px rgba(0, 0, 0, 0.15);
            }
            
            & > ul {
                &.categories-list {
                    padding: 17px 20px;
                    &-style_3 {
                        padding: 8px 20px;
                    }
                }
                
                // Responsive
                @media #{$md-device, $sm-device}{
                    max-height: 300px;
                    overflow-y: auto;
                }
                @media #{$xs-device}{
                    max-height: 220px;
                    overflow-y: auto;
                }
                
                & > li {
            
                    // Responsive
                    @media #{$md-device, $sm-device}{
                        position: relative;
                    }
                    
                    // Has Dropdown
                    &.menu-item-has-children {
                        position: relative;
                        & > a {
                            &::after {
                                content: "\f105";
                                position: absolute;
                                right: 0;
                                top: 50%;
                                line-height: 1;
                                font-family: $font-font_awesome;
                                transform: translateY(-50%);
                                // Responsive
                                @media #{$md-device, $sm-device}{
                                    display: none;
                                }
                            }
                        }
                    }
                    
                    // Plus Icon For Tablet & Mobile Device
                    & .menu-expand {
                        position: absolute;
                        right: 0;
                        top: 0;
                        cursor: pointer;
                        height: 50px;
                        width: 40px;
                        line-height: 50px;
                        z-index: 9;
                        text-align: center;
                    }
                    
                    & > a {
                        display: block;
                        padding: 10px 0;
                        line-height: 24px;
                        font-size: 14px;
                        color: $paragraph;
                        position: relative;
                        text-transform: capitalize;
                        border-bottom: 1px solid $bdr-color;
                        // Hover
                        &:hover {
                            color: $theme-color;
                        }
                    }
                    
                    &:first-child {
                        a {
                            padding-top: 0;
                            // responsive
                            @media #{$md-device, $sm-device} {
                                padding-top: 10px;
                            }
                        }
                    }
                    &:last-child {
                        a {
                            padding-bottom: 0;
                            border-bottom: none;
                            // responsive
                            @media #{$md-device, $sm-device} {
                                padding-bottom: 10px;
                            }
                        }
                    }
                    &:hover {
                        & .category-mega-menu {
                            top: 0;
                            z-index: 9;
                            opacity: 1;
                            visibility: visible;
                        }
                    }
                    .category-mega-menu {
                        position: absolute;
                        left: calc(100% + 20px);
                        top: 110%;
                        width: 800px;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 30px;
                        opacity: 0;
                        z-index: -9;
                        visibility: hidden;
                        transition: 0.4s;
                        background-color: $white;
                            
                        // Responsive
                        @media #{$lg-device} {
                            width: 600px;
                            padding-bottom: 5px;
                        }
                        @media #{$md-device, $sm-device}{
                            position: static;
                            z-index: 9;
                            opacity: 1;
                            visibility: visible;
                            background-color: transparent;
                            padding: 0;
                            width: 100%;
                            transition: none;
                            border: none;
                        }
                        &.two-column {
                            width: 400px;
                            // responsive
                            @media #{$md-device, $sm-device} {
                                width: 100%;
                            }
                            & > li {
                                width: 50%;
                                // responsive
                                @media #{$md-device, $sm-device} {
                                    width: 100%;
                                }
                            }
                        }

                        &.three-column {
                            width: 600px;
                            // responsive
                            @media #{$md-device, $sm-device} {
                                width: 100%;
                            }
                            & > li {
                                width: 33.33%;
                                // responsive
                                @media #{$md-device, $sm-device} {
                                    width: 100%;
                                }
                            }
                        }
                        
                        & > li {
                            float: left;
                            width: 25%;
                            padding: 0 15px;
                            
                            // Responsive
                            @media #{$lg-device} {
                                width: 50%;
                                margin-bottom: 15px;
                            }
                            @media #{$md-device, $sm-device}{
                                flex: 1 0 100%;
                                padding: 0;
                                position: relative;
                            }
                            
                            & > a {
                                display: block;
                                font-size: 15px;
                                font-weight: 500;
                                color: $black-soft;
                                text-transform: uppercase;
                                margin-bottom: 10px;
                                position: relative;
                                &:before,
                                &:after {
                                    left: 0;
                                    bottom: -3px;
                                    content: "";
                                    position: absolute;
                                    height: 2px;
                                    width: 100%;
                                    background-color: $bdr-color;
                                }
                                &:after {
                                    width: 50%;
                                }
                            
                                // Responsive
                                @media #{$md-device, $sm-device}{
                                    padding: 10px 25px 10px 35px;
                                    line-height: 30px;
                                    font-size: 14px;
                                    color: #606060;
                                    font-weight: 400;
                                    position: relative;
                                    margin: 0;
                                    text-transform: inherit;
                                }
                            }
                            &:nth-child(odd) {
                                a {
                                    &:after {
                                        background-color:#f00;
                                        // responsive
                                        @media #{$md-device, $sm-device} {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            &:nth-child(even) {
                                a {
                                    &:after {
                                        background-color: $theme-color;
                                        // responsive
                                        @media #{$md-device, $sm-device} {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            
                            & > ul {
                                & li {
                                    &:last-child {
                                        border: none;
                                    }
                                    
                                    // Child Selector
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    
                                    & a {
                                        display: block;
                                        font-size: 14px;
                                        color: #606060;
                                        line-height: 30px;
                                        padding-bottom: 4px;
                            
                                        // Responsive
                                        @media #{$md-device}{
                                            padding: 10px 25px 10px 45px;
                                            line-height: 30px;
                                            font-size: 14px;
                                            color: #606060;
                                            font-weight: 400;
                                            position: relative;
                                        }
                                        @media #{$sm-device}{
                                            padding: 10px 25px 10px 45px;
                                            line-height: 30px;
                                            font-size: 14px;
                                            color: #606060;
                                            font-weight: 400;
                                            position: relative;
                                        }
                                        
                                        // Hover
                                        &:hover {
                                            color: $theme-color;
                                        }
                                        
                                    }
                                    // Child Selector
                                    &:last-child {
                                        a {
                                            border-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}