/*------- daily deals area start -------*/
.deals-wrapper {
    padding: 30px;
    // responsive
    @media #{$sm-device} {
        padding: 15px;
    }
}
.deals-item-wrapper {
    margin-top: 30px;
}
.deals {
    &-item {
        display: flex;
        // responsive
        @media #{$xs-device} {
            display: block;
        }
        &:hover {
            .deals-thumb {
                .pri-img {
                    opacity: 0;
                    visibility: hidden;
                }
                .sec-img {
                    opacity: 1;
                    visibility: visible;
                }
                .add-to-links {
                    opacity: 1;
                    visibility: visible;
                    animation: zoomIn 300ms ease-in-out;
                }
            }
        }
        &-style_2 {
            padding: 30px 20px;
            .product-countdown {
                margin-top: 25px;
            }
        }
    }
    &-thumb {
        max-width: 50%;
        flex-basis: 50%; 
        position: relative;
        // responsive
        @media #{$xs-device} {
            max-width: 100%;
            flex-basis: 100%;
        }
        .sec-img {
            top: 0;
            left: 0;
            right: 0;
            text-align: center;
            position: absolute;
            opacity: 0;
            visibility: hidden;
        }
    }
    &-content {
        max-width: 50%;
        flex-basis: 50%;
        padding-left: 20px;
        // responsive
        @media #{$lg-device} {
            padding-left: 4px;
        }
        @media #{$xs-device} {
            max-width: 100%;
            flex-basis: 100%;
            padding-left: 0;
        }
        h4 {
            font-size: 18px;
            line-height: 1.5;
            font-weight: 400;
            color: $black-soft;
            a {
                color: $black-soft;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .product-name {
            padding-bottom: 5px;
        }
        .price {
            &-box {
                padding-top: 8px;
                padding-bottom: 20px;
            }
            &-old {
                font-size: 16px;
            }
            &-regular {
                font-size: 18px;
                font-weight: 500;
            }
        }
    }
}


/*------- daily deals area end -------*/


/*------ countdown style start ------*/
.product-countdown {
    display: flex;
    margin-top: 15px;

    .single-countdown {
        text-align: center;
        margin-right: 10px;
        padding: 10px 0;
        border-radius: 5px;
        width: 50px;
        background-color: #eaeaea;
        // responsive
        @media #{$lg-device} {
            margin-right: 5px;
            width: 45px;
        }

        &__time {
            color: $black-soft;
            font-size: 18px;
            font-weight: 400;
            display: block;
            line-height: 1;
        }

        &__text {
            display: block;
            font-size: 12px;
            color: $paragraph;
            margin-top: 5px;
            line-height: 1;
            text-transform: capitalize;
        }
        &:first-child {
            background-color: $black-soft;
            .single-countdown__time,
            .single-countdown__text {
                color: $white;
            }
        }
    }
}

/*------ countdown style end ------*/
