/*------- flash sale area start -------*/

.flash-sale-wrapper {
    border: 1px solid $bdr-color;
    border-top: none;
    // responsive
    @media #{$md-device} {
        margin-top: 40px;
        border-top: 1px solid $bdr-color;
    }
}

.flash-title {
    text-align: center;
    padding: 32px 15px 0 15px;
    h3 {
        color: red;
        font-size: 18px;
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        font-family: $font-family-heading;
    }
}

.flash-item,
.daily-deals {
    border-top: none;
    padding: 30px 15px;
    border-bottom: 1px solid $bdr-color;
    .pro-manufacturer {
        font-size: 12px;
        font-weight: 700;
        color: #999999;
        line-height: 1;
        display: block;
        text-transform: uppercase; 
        font-family: $font-family-heading;
        a {
            color: #999999;
            &:hover {
                color: $theme-color;
            }
        }
    }
}
/*------- flash sale area end -------*/