/*-------- footer top area start --------*/
.footer-top {
    padding: 40px 0px;
}
.footer {
    &-widget {
        &-item {
            // responsive
            @media #{$md-device, $sm-device} {
                margin-bottom: 40px;
            }
        }
        &-inner {
            padding-top: 68px;
            padding-bottom: 60px;
            border-top: 1px solid #32373d;
            border-bottom: 1px solid #32373d;
            // responsive
            @media #{$md-device} {
                padding-bottom: 20px;
            }
            @media #{$sm-device} {
                padding-top: 48px;
                padding-bottom: 2px;
            }
        }
        &-logo {
            padding-bottom: 15px;
        }
        &-title {
            padding-bottom: 27px;
            // responsive
            @media #{$sm-device} {
                padding-bottom: 20px;
            }
            h5 {
                color: $white;
                font-size: 16px;
                font-weight: 500;
                line-height: 1;
                text-transform: uppercase;
            }
        }
        &-body {
            p {
                color: #81898f;
                font-size: 15px;
                line-height: 1.5;
            }
            .contact-info-title {
                color: $white;
                font-size: 15px;
                font-weight: 400;
                line-height: 1;
                padding-top: 20px;
                padding-bottom: 8px;

            }
            li {
                margin-bottom: 10px;
                a {
                    color: #81898f;
                    font-size: 15px;
                    position: relative;
                    text-transform: capitalize;
                    &:before {
                        top: 50%;
                        left: 0;
                        font-size: 16px;
                        content: "\f105";
                        padding-right: 5px;
                        font-family: $font-font_awesome;
                        transform: translateY(-50%);
                    }
                    &:hover {
                        color: $theme-color;
                        padding-left: 5px;
                    }
                }
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.footer-social-link {
    padding-top: 20px;
    a {
        color: #81898f;
        font-size: 22px;
        line-height: 1;
        display: inline-block;
        margin-right: 20px;
        &:hover {
            color: $theme-color;
        }
        &:last-child {
            margin-right: 0;
        }
    }
}
/*-------- footer top area end --------*/

.footer-bottom-area {
    background-color: #14181c;
    padding: 20px 0;
}

.copyright-text {
    p {
        font-size: 14px;
        color: #a8a8a8;
        a {
            color: $theme-color;
            &:hover {
                text-decoration: underline;
            }
        }
    }
}