
/*---------- section title start ----------*/
.section {
    &-header {
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid $bdr-color;
        &-deals {
            padding-bottom: 10px;
            border-bottom: 1px solid $bdr-color;
        }
        // responsive
        @media #{$xs-device} {
            display: block;
        }
        &-inner_2 {
            margin-bottom: 15px;
            display: flex;
            justify-content: space-between;
        }
    }
}
.section {
    &-title {
        line-height: 1;
        h4 {
            color: $black-soft;
            font-size: 22px;
            font-weight: 400;
            line-height: 1;
            display: inline-block;
            text-transform: capitalize;
        }
    }
}
.section-title-deals {
    h4 {
        color: $black-soft;
        font-size: 22px;
        font-weight: 400;
        line-height: 1;
        display: inline-block;
        text-transform: capitalize;
    }
}
/*---------- section title end ----------*/