/*------- service features area start -------*/
.service-features-inner {
    padding: 37px 0;
    position: relative;

    // responsive
    @media #{$sm-device} {
        display: block;
        padding: 47px 0;
        text-align: center;
    }
}

.single-features-item {
    display: flex;
    align-items: center;
    padding: 0 40px;
    border-right: 1px solid #eee;

    @media #{$md-device} {
        display: block;
        padding: 0 2px;
        text-align: center;
        border: none;
    }

    @media #{$sm-device} {
        display: block;
        padding: 0;
        margin-bottom: 30px;
    }

    @media #{$xxs-device} {
        padding: 0 15px;
    }

    .features-icon {
        color: $theme-color;
        font-size: 40px;
        padding-right: 20px;

        // responsive
        @media #{$md-device} {
            padding-right: 0;
            margin-bottom: 10px;
        }

        @media #{$sm-device} {
            margin-bottom: 10px;
        }

        i {
            line-height: 1;
            transform: rotate(0);
            display: block;
        }
    }

    .features-content {
        h5 {
            color: $black-soft;
            font-size: 16px;
            line-height: 1.2;
            font-weight: 500;
            padding-bottom: 3px;
            text-transform: uppercase;
        }

        p {
            color: $paragraph;
            font-size: 14px;
            line-height: 1.5;
        }
    }

    
    &:hover {
        .features-icon {
            i {
                animation: bounceIn 1s ease-in-out;
            }
        }
    }
}
// footer service features 
.footer-feature-item {
    border-right: none;
    padding: 0;
    // responsive
    @media #{$sm-device} {
        text-align: center;
    }
    .features-icon {
        font-size: 45px;
    }
    .features-content {
        h5 {
            color: $white;
            font-size: 18px;
            font-weight: 400;
            text-transform: inherit;
        }
        p {
            color: #999;
        }
    }
}


.service-features-inner,
.footer-features-inner {
    [class*="col-"] {
        &:last-child {
            .single-features-item {
                margin-bottom: 0;
            }
        }
    }
}
/*-------- service features area end --------*/