/*----- shop Sidebar start -----*/
.sidebar-wrapper {
    .sidebar-single {
        &:last-child {
            margin-bottom: 0;
        }
    }
    // responsive
    @media #{$md-device, $sm-device} {
        margin-top: 50px;
    }
}

.sidebar-single {
    margin-bottom: 30px;
    padding: 25px 15px;
    background-color: $white;

    .sidebar-title {
        padding-bottom: 15px;
        position: relative;

        h3 {
            color: $black-soft;
            font-size: 20px;
            font-weight: 400;
            line-height: 1;
            margin-top: -3px;
            text-transform: capitalize;
            font-family: $font-family-heading;
        }
    }
}

/*------ shop categories area start ------*/
.shop-categories {
    ul {
        margin-top: 0;
        &.mobile-menu {
            overflow: hidden;
        }
        li {
            a {
                color:$paragraph;
            }
            &:last-child {
                a {
                    padding-bottom: 0;
                }
            }
        }
    }
}

/*------ shop categories area end ------*/


/*----- price Sidebar start -----*/
.radio-container,
.checkbox-container {
    li {
        padding: 12px 0;
        .custom-radio,
        .custom-checkbox {
            label,
            .custom-control-label {
                color: $paragraph;
                transition: 0.4s;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        &:last-child {
            padding-bottom: 0;
        }
    }
}
/*----- price Sidebar end -----*/

/*----- shop Sidebar end -----*/

