@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: 'Poppins', sans-serif;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #251801;
}
.container
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container
{
    position: relative;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background: #ffcd00;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 20px;
}
.container .face:hover
{
    background: linear-gradient(180deg, #f44336,#f44336,#ffcd00);
}
.container .face .eyes
