@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

body{
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background: #048ddd;
}
/*Linha divisoria da barra de menu*/
.nav{
    border-bottom: 1px solid #eaeaeb;
    text-align: right;
    height: 70px;
    line-height: 70px;
}
.menu{
    margin: 0 30px 0 0;
    
}
.menu a{
    clear: right;
    text-decoration: none;
    color: #daf1ff;
    margin: 0 10px;
    line-height: 70px;
}
.menu a:hover{
    color:#0f4c5c;
}
label{
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display: none;
    width: 26px;
    float: right;
    color: #daf1ff;
}
#toggle{
    display: none;
}
@media only screen and (max-width: 500px){
    label{
        display: block;
        cursor: pointer;
    }
    .menu{
        text-align: center;
        width: 100%;
        display: none;
    }
    .menu a{
        display: block;
        border-bottom: 1px solid #EAEAEB;
        margin: 0;
    }
    #toggle:checked + .menu{
        display: block;
    }
}