body
{
    margin: 0;
    padding: 0;
}
section {

}
#section-one
{
    position: relative;
    margin: 0;
    padding: 0;
    /* background: rgb(126, 246, 142); */
    height: 160px;
}
#waves1{position: absolute;bottom: 0;    width: 100%;}
#waves1 path{fill: #000;}

#section-two
{
    position: relative;
    margin: 0;
    padding: 0;
    
    height: 50px; 
}
#arrow-negative{position: absolute;bottom: 0;    width: 100%;}
#arrow-negative path{fill: #000;}


.cor1 {
    background-color: #293e49;
}
.cor2 {
    background-color: #3E5056;
}
.modulo-verde { border: 2px solid #0f2c10; background-color: #4CAF50;}

.modulo-vermelho { border: 2px solid #F44336; background-color: #F44336; }

.modulo-azul { border: 2px solid #2196F3; background-color: #2196F3; }

.modulo-roxo { border: 2px solid #9C27B0; background-color: #9C27B0; }

.modulo-laranja { border: 2px solid #FF9800; background-color: #FF9800; }

.modulo-verde-escuro { border: 2px solid #1B5E20; background-color: #1B5E20; }

.modulo-vermelho-escuro { border: 2px solid #B71C1C;background-color: #B71C1C; }

.modulo-azul-escuro { border: 2px solid #0D47A1; background-color: #0D47A1; }

.modulo-roxo-escuro { border: 2px solid #4A148C; background-color: #4A148C; }