#mais{
    display: none;
}

/* botões */

.btn { 
    width: auto; 
    text-align: center; 
    /* transition: color 0.4s, border 0.4s, background 0.4s !important;  */
    color: #fff; 
    font-weight: bold; 
    letter-spacing: 1px; 
    border-radius: 8px;
    transition: transform 2s;
    
}

.btn:hover{
    color:#fff; 
    background-color: #3071a9; 
    border-color: #8e9aa5;
    transform: translateY(30px);
    
    
}

.btn-azul { margin-top: 10px; font-size: 14px; line-height: 14px; padding: 10px 20px; border-radius: 8px; background: #428bca; border-color: #357ebd; align-content: center; }

