
/*------- blog item start -------*/

.blog-item-wrapper {
    background-color: $white;
    padding: 15px;
    .paginatoin-area {
        background-color: #f2f2f2;
    }
}
.blog-post-item {
    display: flex;
    @media #{$sm-device} {
        display: block;
    }
    &.blog-grid {
        display: block;
    }
}
.blog-post-thumb {
    flex-basis: 360px;
    max-width: 360px;
    // responsive
    @media #{$lg-device, $md-device} {
        flex-basis: 280px;
        max-width: 280px;
    }
    @media #{$sm-device} {
        flex-basis: 100%;
        max-width: 100%;
    }
}
.post-info-wrapper {
    padding-left: 30px;
    flex-basis: calc(100% - 360px);
    max-width: calc(100% - 360px);
    // responsive
    @media #{$lg-device, $md-device} {
        flex-basis: calc(100% - 280px);
        max-width: calc(100% - 280px);
    }
    @media #{$sm-device} {
        flex-basis: 100%;
        max-width: 100%;
        padding-left: 0;
        margin-top: 30px;
    }
}
.entry-header {
    display: flex;
    margin-bottom: 25px;
    // responsive
    @media #{$lg-device, $md-device, $sm-device} {
        margin-bottom: 15px;
    }
    .post-date {
        display: flex;
        justify-content: center;
        text-align: center;
        flex-direction: column;
        padding: 5px 20px;
        background-color: $theme-color;
        width: 60px;
        height: 55px;
        .date {
            color: $white;
            font-size: 20px;
            font-weight: 500;
            line-height: 1;
            display: block;
            padding-bottom: 5px;
        }
        .month {
            color: $white;
            font-size: 12px;
            font-weight: 400;
            line-height: 1.2;
            display: block;
            text-transform: uppercase;
        }
    }
    .post-meta {
        padding-left: 10px;
        h2 {
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            text-transform: uppercase;
            font-family: $font-family-heading;
            // responsive
            @media #{$sm-device} {
                font-size: 18px;
            }
            @media #{$xs-device} {
                font-size: 16px;
            }
            a {
                color: $black-soft;
                &:hover {
                    color: $theme-color;
                }
            }
        }
        .post-meta-small {
            a {
                color: $theme-color;
                font-style: italic;
            }
        }
        &.blog-details-title {
            h2 {
                font-size: 24px;
                // responsive
                @media #{$sm-device} {
                    font-size: 18px;
                }
                @media #{$xs-device} {
                    font-size: 16px;
                }
            }
        }
    }
}
.entry-summary {
    margin-bottom: 20px;
    // responsive
    @media #{$lg-device, $md-device, $sm-device} {
        margin-bottom: 15px;
    }
}
blockquote {
    border-left: 5px solid $theme-color;
    margin: 25px 32px 25px 30px;
    background-color: #f7f7f7;
    padding: 15px;
    p {
        margin-top: 0 !important;
    }
    // responsive
    @media #{$sm-device} {
        margin: 25px 10px 25px 15px;
    }
}
/*------- blog item end -------*/

/*-------- blog grid item start --------*/
.blog-grid {
    display: block;
    .blog-post-thumb {
        max-width: 100%;
        flex-basis: 100%;
    }
    .post-info-wrapper {
        max-width: 100%;
        flex-basis: 100%;
        padding-left: 0;
        padding-top: 30px;
        // responsive
        @media #{$sm-device} {
            padding-top: 0;
        }
    }
}
/*-------- blog grid item end --------*/