
/*------ contact form area start -------*/
.contact-area {
    padding: 67px 0 70px;
    // responsive
    @media #{$md-device} {
        padding: 67px 0 63px;
    }
    @media #{$sm-device} {
        padding: 47px 0 42px;
    }
}
.contact-message {
    h2 {
        color: $black-soft;
        font-size: 22px;
        font-weight: 500;
        line-height: 1;
        padding-bottom: 28px;
        text-transform: capitalize;
        // responsive
        @media #{$xs-device} {
            font-size: 18px;
            padding-bottom: 15px;
        }
    }
    form {
        input, textarea {
            width: 100%;
            border: none;
            padding: 10px 10px;
            border-bottom: 3px solid transparent;
            background-color: #f7f7f7;
            margin-bottom: 30px;
        }
        textarea  {
            height: 150px;
        }
    }
}
/*------ contact form area start -------*/


/*------ contact info area start -------*/
.contact-info {
    height: 100%;
    // responsive
    @media #{$md-device, $sm-device} {
        margin-top: 46px;
    }
    h2 {
        color: $black-soft;
        font-size: 22px;
        font-weight: 500;
        line-height: 1;
        padding-bottom: 22px;
        text-transform: capitalize;
        // responsive
        @media #{$xs-device} {
            font-size: 18px;
            padding-bottom: 8px;
        }
    }
    p {
        color: $paragraph;
        padding-bottom: 30px;
        // responsive
        @media #{$md-device} {
            padding-bottom: 10px;
        }
    }
    ul {
        li {
            border-bottom: 1px solid $bdr-color;
            padding-bottom: 15px;
            margin-bottom: 15px;
            display: flex;
            align-items: center;
            // responsive
            @media #{$xxs-device} {
                align-items: baseline;
            }
            &:last-child {
                border-bottom: none;
            }
            i {
                font-size: 18px;
                padding-right: 10px;
            }
        }
    }
    .working-time {
        h3 {
            color: $black-soft;
            font-size: 18px;
            font-weight: 500;
            padding-bottom: 5px;
        }
        p {
            padding-bottom: 0;
            span {
                color: $black-soft;
                padding-right: 10px;
            }
        }
    }
}
/*------ contact info area end -------*/
