/*------ Start Login & Register Page ------*/
.login-reg-form-wrap {
    background-color: $white;
    box-shadow: (0 0 6px rgba(0, 0, 0, 0.1));
    padding: 23px 30px 30px;
    // responsive
    @media #{$xs-device} {
        padding: 23px 15px 30px;
    }

    h2 {
        font-weight: 400;
        font-size: 24px;
        line-height: 1;
        text-transform: capitalize;
        color: $black-soft;
        border-bottom: #ccc;
        margin-bottom: 30px;
    }

    form {
        .create-account {
            margin-top: 25px;
        }
    }

    & .login-reg-form-meta {
        & a {
            color: $theme-color;
        }
    }
}
.sign-up-form {
    // responsive
    @media #{$md-device, $sm-device} {
        margin-top: 50px;
    }
}

/*------ end Login & Register Page ------*/