body {
    margin: 0;
    padding: 0;
}
section {
    width: 100%;
    height: 100%;
    background: #028174;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
}

.wrapper {
    height: 100%;
    width: 50%;
    background: #f55757;
    overflow: hidden;
    color: #028174;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 2px solid #028174;
}

.sliding {
    position: absolute;
    top: 50%;
    white-space: nowrap;
    font-size: 8em;
    line-height: 220px;
    overflow: hidden;
    font-family: "arial black";
    animation: animate 20s linear infinite;
}

@keyframes animate {
     0% { transform:translate(0, -50%);}
     100% { transform:translate(-50%, -50%);}
}