*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #edf1f4;
    min-height: 100vh;
}
.loader
{
    display:flex;
    flex-direction: row;
}
.loader div
{
    position: relative;
    width: 40px;
    height: 200px;
    margin: 20px;
    border-radius: 40px;
    background: linear-gradient(to bottom, rgba(0,0,0,0.05,#edf1f4));
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),
                -15px -15px 20px #fff,
                inset -5px -5px 5px rgba(255,255,255,0.5),
                inset 5px 5px 5px rgba(0,0,0,0.05);
}
.loader div::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    box-shadow: 15px 15px 20px rgba(0,0,0,0.1),
                -15px -15px 20px #fff,
                inset -5px -5px 5px rgba(255,255,255,0.5),
                inset 5px 5px 5px rgba(0,0,0,0.05);
}
.loader div::after
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
}