
body {
    margin: 0;
    padding: 0;
    background: #F7F7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
ul {
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    
    
}
.loader {
    width: 150px;
    height: 150px;
    position: relative;
    
}

span {
    position: absolute;
    width: 80px;
    height: 80px;
    background-color:#e10832;
    border-radius: 50%;
    animation: chase 3s linear infinite;
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center; 
    
}

span:nth-child(1){
    background:#FF345C;
    animation-delay: 0.7s;
 
}

span:nth-child(2){
    animation-delay: 1.4s;
    background:#FF5576;
 
}

span:nth-child(3){
    animation-delay: 2.1s;
    background:#FA7E97;
    
}

@keyframes chase {
	0% {top: 0; left: 0;}

    12.5% { top: 0; left: 50%;}

    25% { top: 0; left: 50%;}

    37.5% { top: 50%; left: 50%;}

    50% { top: 50%; left: 50%;}

    62.5% { top: 50% ; left: 0;}

    75% { top: 50% ; left: 0;}

    82.5% { top: 0; left: 0;}

    100% { top: 0; left: 0;}
}