*
{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
}
body
{
    background: #6741ae url(./images/bg.png);
    background-size:cover;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}
section img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:100%;
    object-fit: cover;
}
